<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunniao.sparrow.core.mapper.log.InterfaceToToMapper">
    <!-- 查询日志列表-->
    <select id="selectToLogList" resultType="com.redis.normal.modal.dto.InterfaceFromLogDTO">
        SELECT id,2 as callType,app_key as appKey,third_id as thirdId,app_code,platform as platform,interface_info as interfaceinfo,request_message as requestMessage,state,
        response_message as responseMessage,retry_count as retryCount,
        response_time as responseTime,request_time as requestTime,interface_url as interfaceUrl,
        create_time as createTime,update_time as updateTime FROM interface_to_log
        where 1=1
        <if test="appKey != null and appKey != ''">
            AND  app_key = #{appKey}
        </if>
        <if test="state != null">
            AND  state = #{state}
        </if>
        <if test="startTime !=null and startTime !='' ">
            <![CDATA[ and create_time  >=  #{startTime}  ]]>
        </if>
        <if test="endTime !=null and endTime!='' "  >
            <![CDATA[ and create_time <=  #{endTime}  ]]>
        </if>
        order by create_time desc
    </select>

</mapper>